<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li/>
        <li>Subscribe:
            <a href="https://itunes.apple.com/tt/podcast/sound-security-podcast/id974229319?mt=2">iTunes</a> |
            <a href="https://feeds.feedburner.com/SoundSecurityPodcast">FeedBurner</a> |
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">Site RSS</a>
        </li>

      </ul>
    </div>
  </div>
</footer>
