<audio src="{{ page.audio_file_path }}" controls preload="auto">
    <p>Your browser does not support the <code>audio</code> element. Here's
    a nickle kid. Get yourself a better computer.</p>
</audio>
Download the podcast's audio [directly here]({{ page.audio_file_path }}).

### Discussed Articles
{% for article in page.articles %}
{{ forloop.index }}) {{ article.title }}
{% unless article.comment == empty %} 
*{{ article.comment }}*
{% endunless %}
{% for url in article.urls %}
* [{{ url }}]({{ url }})
{% endfor %}
{% endfor %}

{% if page.breach.title == empty %}
{% else %}
### Breach of the Week
{{ page.breach.title }}

{% unless page.breach.comment == empty %} 
*{{ page.breach.comment }}*
{% endunless %}
{% for url in page.breach.urls %}
* [{{ url }}]({{ url }})
{% endfor %}
{% endif %}

